interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>API v3 | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n
        \   <meta name=\"format-detection\" content=\"telephone=no\">\n\n    <meta
        name=\"seznam-wmt\" content=\"X5XqiSfFPS3MLDFddUyHsAh7NbL4h1SZ\">\n    <meta
        name=\"google-site-verification\" content=\"EPXhgbme4HfibwFkFCVPFOhSgL3F4JQHFmUEHp9naQc\">\n\n
        \   <link rel=\"alternate\" type=\"application/rss+[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/users
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Users | Fakturoid API</title>\n    \n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
      [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/account
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Account | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/bank-accounts
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Bank Accounts | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=devi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/number-formats
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Number Formats | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=de[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/subjects
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Subjects | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/invoices
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Invoices | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/invoice-payments
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Invoice Payments | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"widt[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/invoice-messages
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Invoice Messages | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"widt[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/expenses
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Expenses | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.fakturoid.cz/api/v3/expense-payments
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"cs\" class=\"m-0 p-0 page-api\">\n  <head>\n\n
        \   <link rel=\"preload\" href=\"https://use.typekit.net/huq1wdt.css\" as=\"style\">\n\n
        \   \n      \n      \n    \n\n    <title>Expense Payments | Fakturoid API</title>\n
        \   \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"widt[...]
